# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
traffic_venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Trained models
*.h5
*.pkl

# Logs and plots
logs/
*.log
*.png

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 